/* 
.{blah} means it is a class add is applied to the element using class="{blah}" 
#{blah} is an ID and applies to the object with id="{blah}" NOTE: only one object should have a given id
*/

.centered {
    text-align: center;
    color: rgb(0, 0, 0);
}

.red {
    color: #FF0000;
}

.blue {
    color: #2525bd;
}

.green {
    color: hsl(122, 68%, 35%);
}

.big {
    font-size:300%;
}

.tiny {
    font-size:65%;
}

.bold {
    font-weight:bold
}

.change_font {
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif
}

.orange {
    color: #ff8800e2;
}


                                                                                                   

.styledfont {
    color: hsl(122, 68%, 35%); 
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}


#mustard {
    border: 10px solid rgb(255, 191, 0);
}

                                                 