/* 
.{blah} means it is a class add is applied to the element using class="{blah}" 
#{blah} is an ID and applies to the object with id="{blah}" NOTE: only one object should have a given id
*/

.centered {
    text-align: center;
    color: cyan;
}

.red {
    color: #FF0000;
}

.blue {
    color: #2525bd;
}

.green {
    color: hsl(122, 68%, 35%);
}

.big {
    font-size:300%;
}

.tiny {
    font-size:65%;
}

.bold {
    font-weight:bold
}

.change_font {
    font-family:fantasy
}